name: Release

on:
  push:
    branches:
    - main

env:
  AWS_REGION: us-west-1
  AWS_ROLE: arn:aws:iam::270074865685:role/terraform-module-ci-test
  ZONE: ${{secrets.ZONE}}

permissions: write-all

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v4
        id: release-please
        with:
          release-type: terraform-module
      - uses: peter-evans/create-or-update-comment@v4
        name: 'Remind to wait'
        if: steps.release-please.outputs.pr
        with:
          issue-number: ${{ fromJson(steps.release-please.outputs.pr).number }}
          body: |
            Please make sure e2e tests pass before merging this PR!
            ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
      - uses: actions/checkout@v4
        if: steps.release-please.outputs.pr
        with:
          token: ${{secrets.GITHUB_TOKEN}}
      - uses: DeterminateSystems/nix-installer-action@main
        if: steps.release-please.outputs.pr
      - uses: nicknovitski/nix-develop@v1
        if: steps.release-please.outputs.pr
      - uses: aws-actions/configure-aws-credentials@v4
        if: steps.release-please.outputs.pr
        with:
          role-to-assume: ${{env.AWS_ROLE}}
          role-session-name: ${{github.job}}-${{github.run_id}}-${{github.run_number}}-${{github.run_attempt}}
          aws-region: ${{env.AWS_REGION}}
      - name: 'Terratest'
        run: |
          R="$(git rev-parse --show-toplevel)"
          $R/run_tests.sh
        if: steps.release-please.outputs.pr
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          GITHUB_OWNER: rancher
          IDENTIFIER: ${{github.run_id}}
          ZONE: ${{env.ZONE}}
      - name: 'Report Success'
        uses: peter-evans/create-or-update-comment@v4
        if: steps.release-please.outputs.pr
        with:
          issue-number: ${{ fromJson(steps.release-please.outputs.pr).number }}
          body: |
            End to End Tests Passed!
            ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
